#layout {
  display: grid;
  grid-template-rows: $nav-height 1fr;
  grid-template-areas: "navigation" "main";
  position: relative;

  @include no-scroll;

  #main {
    grid-area: main;
    position: relative;
  }
}
