#layout {
  display: flex;
  flex-direction: column;
  position: relative;

  #main {
    margin-top: $nav-height;
    display: flex;
    justify-content: center;
    transition: margin-left 0.2s;
  }

  .sidebar {
    background-color: white;
    border-right: $border-width solid $color__border;
    bottom: 0;
    left: 0;
    position: fixed;
    top: $nav-height;
    width: 85%;
    z-index: 1;

    &-enter,
    &-appear {
      transform: translateX(-100%);

      &-active {
        transform: translateX(0);
        transition: transform 0.2s;
      }
    }

    &-exit {
      transform: translateX(0);

      &-active {
        transform: translateX(-100%);
        transition: transform 0.2s;
      }
    }

    @include screen-tablet {
      width: 200px;
    }

    @include screen-desktop {
      width: 240px;
    }

    @include screen-large {
      width: 280px;
    }
  }

  &.has-sidebar {
    #main {
      @include screen-tablet {
        margin-left: 200px;
      }

      @include screen-desktop {
        margin-left: 240px;
      }

      @include screen-large {
        margin-left: 280px;
      }
    }
  }
}
