#navigation {
  background-color: $color-background-alt;
  color: $color-white;
  display: flex;
  flex-direction: column;

  .navigation-header {
    display: flex;
    justify-content: space-between;

    .navigation-left,
    .navigation-right {
      align-items: center;
      display: flex;
      margin: 0 $margin-lg;
    }

    .navigation-username {
      height: $nav-height;
      line-height: $nav-height;
      margin-right: -$margin-lg;
      padding: 0 $padding-lg;
    }
  }

  .navigation-extension {
    display: flex;
    flex-direction: column;
    margin: $margin-sm 0;
    padding: 0 $padding-lg;

    .home-tile {
      align-items: center;
      background-color: $color-background-alt-light;
      display: flex;
      justify-content: space-between;
    }

    .navigation-menu-vertical {
      display: flex;
      flex-direction: column;
    }

    .sidebar-item {
      padding: $padding-md;
      position: relative;
      text-align: center;

      &.is-active {
        font-weight: bold;
      }
    }
  }
}
