@import "../base/variables";

#navigation {
  background-color: $color__dark;
  color: white;
  display: flex;
  flex-direction: column;

  .navigation-header {
    display: flex;
    justify-content: space-between;
    height: $nav-height;

    .navigation-left,
    .navigation-right {
      align-items: center;
      display: flex;
      margin: 0 $margin-lg;
    }

    .navigation-username {
      height: $nav-height;
      line-height: $nav-height;
      padding: 0 $padding-md;
    }

    .user-icon {
      margin-right: $margin-sm;
    }
  }

  .navigation-extension {
    display: flex;
    flex-direction: column;
    margin: $margin-sm 0;
    padding: 0 $padding-lg;

    .home-tile {
      align-items: center;
      display: flex;
      justify-content: space-between;
    }

    .navigation-menu-vertical {
      display: flex;
      flex-direction: column;
    }

    .sidebar-item {
      padding: $padding-md;
      position: relative;
      text-align: center;

      &.is-active {
        font-weight: bold;
      }
    }
  }
}

.subnavigation {
  align-items: center;
  border-bottom: $border-width solid $color__border;
  display: flex;
  padding: 0 $padding-lg;
}
