#navigation {
  background-color: $color-background-alt;
  color: $color-white;
  display: flex;
  grid-area: navigation;
  justify-content: space-between;
  z-index: 2;

  &-brand {
    margin-bottom: $margin-xxs;
  }

  &-left,
  &-right {
    align-items: center;
    display: flex;
    margin: 0 $margin-lg;
  }

  &-username {
    height: $nav-height;
    line-height: $nav-height;
    margin-right: -$margin-lg;
    padding: 0 $padding-lg;
  }
}
