.page {
  display: flex;
  flex-direction: column;
  margin-bottom: $margin-lg;
  padding: $padding-lg;

  .page-header {
    margin-bottom: $margin-md;

    &:first-child {
      margin-top: calc(#{$size-lg} + #{$breadcrumbs-margin});
    }
  }
}
