.page {
  display: flex;
  flex-direction: column;
  padding: 0 $padding-lg;
  margin-bottom: $margin-lg;
  width: 100%;

  @include screen-desktop {
    width: 80%;
  }

  @include screen-large {
    width: 60%;
  }

  .page-header {
    margin: $margin-xl 0;
  }
}
