.page {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: $padding-lg;

  @include screen-desktop {
    width: 80%;
  }

  @include screen-large {
    width: 60%;
  }

  .page-header {
    margin: $margin-xl 0;
  }
}
