.alert {
  align-items: center;
  display: flex;
  justify-content: space-between;
  border-radius: $radius;
  padding: $padding-sm $padding-md;

  &.is-error {
    border: 1px solid $color__danger;
    background-color: transparentize($color__danger, 0.8);
  }
}
