$burger-bar-height: $size-xxs;
$burger-bar-margin: 3px;
$burger-bar-radius: 1px;
$burger-bar-width: 18px;

.burger {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: $nav-height;
  margin-left: -$margin-lg;
  padding: 0 $padding-lg;

  &-bar {
    background-color: $font-color-primary;
    border-radius: $burger-bar-radius;
    height: $burger-bar-height;
    transition: transform 0.2s, opacity 0.1s;
    width: $burger-bar-width;

    &:not(:last-child) {
      margin-bottom: $burger-bar-margin;
    }
  }

  &.is-open {
    .burger-bar {
      &:nth-child(1) {
        transform: translateY(5px) rotate(45deg);
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:nth-child(3) {
        transform: translateY(-5px) rotate(-45deg);
      }
    }
  }
}
