.button {
  background-color: $color-primary;
  border-radius: $radius;
  color: $color-font;
  cursor: pointer;
  font-size: $font-size-md;
  padding: $padding-of;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.8;
  }

  &:hover {
    background-color: $color-primary-dark;
  }
}
