.card {
  background-color: white;
  border-radius: $radius;
  box-shadow: $shadow__border, $shadow__drop;

  &.is-clickable {
    cursor: pointer;
  }

  &.is-padded {
    padding: $padding-md;
  }
}
