.color-square {
  height: $size-md;
  border-radius: $radius;
  width: $size-md;

  &.is-blue {
    background-color: $color-primary;
  }

  &.is-green {
    background-color: $color-success;
  }

  &.is-pink {
    background-color: $color-pink;
  }

  &.is-purple {
    background-color: $color-purple;
  }
}
