.divider {
  background-color: $color__border;
  height: 1px;

  width: 100%;

  &.is-sm {
    margin: $margin-sm 0;
  }

  &.is-md {
    margin: $margin-md 0;
  }

  &.is-lg {
    margin: $margin-lg 0;
  }
}
