.dropdown {
  position: relative;

  &-menu {
    position: absolute;
    right: 0;
    top: 100%;
    padding: $padding-sm 0;
    z-index: 1;
    transform-origin: top;
    margin-top: $margin-sm;

    &-enter {
      opacity: 0;

      &-active {
        opacity: 1;
        transition: all 100ms;
      }
    }

    &-exit {
      opacity: 1;

      &-active {
        opacity: 0;
        transition: all 100ms;
      }
    }
  }
}
