$icon-size-sm: 1em;
$icon-size-md: 1.5em;
$icon-size-lg: 2em;

.icon {
  align-items: center;
  display: inline-flex;
  justify-content: center;

  &.is-clickable {
    cursor: pointer;

    &:hover {
      color: $color-primary;
    }
  }

  &.is-small {
    height: $size-lg;
    width: $size-lg;

    i {
      font-size: $font-md;
    }
  }

  &.is-md {
    height: $size-xl;
    width: $size-xl;

    i {
      font-size: $font-lg;
    }
  }

  &.is-lg {
    height: $size-xxl;
    width: $size-xxl;

    i {
      font-size: $font-xl;
    }
  }
}
