$icon-size-xs: 0.75em;
$icon-size-sm: 1em;
$icon-size-md: 1.5em;
$icon-size-lg: 2em;

.icon {
  align-items: center;
  color: $font-color-primary;
  display: inline-flex;
  justify-content: center;

  &.is-clickable {
    cursor: pointer;

    &:hover {
      color: $color-primary;
    }
  }

  &.is-xs {
    height: $icon-size-xs;
    width: $icon-size-xs;
  }

  &.is-sm {
    height: $icon-size-sm;
    width: $icon-size-sm;
  }

  &.is-md {
    height: $icon-size-md;
    width: $icon-size-md;
  }

  &.is-lg {
    height: $icon-size-lg;
    width: $icon-size-lg;
  }
}
