$icon-size-xs: 0.75em;
$icon-size-sm: 1em;
$icon-size-md: 1.25em;
$icon-size-lg: 1.5em;

.icon {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  // transition: transform 0.2s;

  &.flip-vertical {
    transform: rotate(180deg);
  }

  &.is-clickable {
    cursor: pointer;

    &:hover {
      color: $color__primary;
    }
  }

  &.is-danger {
    color: $color__danger;
  }

  &.is-primary {
    color: $color__primary;
  }

  &.is-success {
    color: $color__success;
  }

  &.is-xs {
    height: $icon-size-xs;
    width: $icon-size-xs;
  }

  &.is-sm {
    height: $icon-size-sm;
    width: $icon-size-sm;
  }

  &.is-md {
    height: $icon-size-md;
    width: $icon-size-md;
  }

  &.is-lg {
    height: $icon-size-lg;
    width: $icon-size-lg;
  }
}
