.input {
  background-color: transparent;
  border-radius: $radius;
  box-shadow: $border-shadow;
  -webkit-appearance: none;
  -webkit-box-shadow: $border-shadow;
  color: $font-color-primary;
  font-size: $font-md;
  padding: 0.75em $padding-md;
  transition: box-shadow 0.2s;

  &:focus {
    -webkit-appearance: none;
    -webkit-box-shadow: $border-shadow-focus;
    box-shadow: $border-shadow-focus;
  }

  &::placeholder {
    color: $font-color-secondary;
    opacity: 0.5;
  }
}
