.input-container {
  box-shadow: $border-shadow;
  -webkit-appearance: none;
  -webkit-box-shadow: $border-shadow;
  border-radius: $radius;
  overflow: hidden;
  display: flex;
  transition: box-shadow 0.2s;

  &:focus-within {
    -webkit-appearance: none;
    -webkit-box-shadow: $border-shadow-focus;
    box-shadow: $border-shadow-focus;
  }
}

.input {
  flex-grow: 1;
  background-color: transparent;
  color: $font-color-primary;
  font-size: $font-md;
  line-height: 24px;
  padding: $padding-sm $padding-md;

  &::placeholder {
    color: $font-color-secondary;
    opacity: 0.5;
  }
}
