.input {
  background-color: transparent;
  -webkit-appearance: none;
  -webkit-box-shadow: 0 0 0 1px #c5d3dc;
  box-shadow: 0 0 0 1px #c5d3dc;
  border-radius: $radius;
  color: $color-font-dark;
  font-size: $font-md;
  padding: 0.75em $padding-md;
  transition: box-shadow 0.2s;

  &:focus {
    -webkit-appearance: none;
    -webkit-box-shadow: 0 0 0 1px #c5d3dc, 0 0 0 4px #bee1f3;
    box-shadow: 0 0 0 1px #c5d3dc, 0 0 0 4px #bee1f3;
  }

  &::placeholder {
    color: $color-font;
    opacity: 0.5;
  }
}
