.notifications {
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;

  &-list {
    padding: $padding-md;
  }

  &-item {
    display: flex;
    align-items: center;

    .icon {
      margin-right: $margin-md;
    }

    &.is-error .icon {
      color: $color-danger;
    }

    &.is-info .icon {
      color: $color-primary;
    }

    &.is-success .icon {
      color: $color-success;
    }
  }
}
