.notifications {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  left: 0;
  padding: $padding-md;
  position: fixed;
  right: 0;
  top: 0;

  &-item {
    align-self: stretch;
    align-items: center;
    display: flex;

    &-appear {
      opacity: 0;
      transform: translateX(100%);
    }

    &-appear-active {
      opacity: 1;
      transform: translateX(0);
      transition: transform 200ms, opacity 200ms;
    }

    &-exit {
      opacity: 1;
      transform: translateX(0);
    }

    &-exit-active {
      opacity: 0;
      transform: translateX(100%);
      transition: transform 200ms, opacity 200ms;
    }

    &:not(:last-child) {
      margin-bottom: $margin-md;
    }

    @include screen-tablet {
      align-self: inherit;
      width: 40%;
    }

    @include screen-desktop {
      width: 30%;
    }

    @include screen-large {
      width: 20%;
    }

    .icon {
      margin-right: $margin-md;
    }
  }
}
