.tile {
  background-color: $color-background-dark;
  border-radius: $radius;

  &.is-clickable {
    cursor: pointer;

    &:hover {
      background-color: $color-background-dark;
    }
  }

  &.is-darker {
    background-color: $color-background-darker;
  }

  &.is-padded {
    padding: $padding-md;
  }
}
