$icon-size: 32px;

.user-icon {
  height: $icon-size;
  border-radius: $radius;
  box-shadow: $shadow__border;
  background-color: $color__background;
  width: $icon-size;

  &.is-dark {
    background-color: $color__darker;
    box-shadow: none;
  }
}

.user-letter {
  color: $color__font-secondary;
  font-size: $font-lg;
  font-weight: $font-weight-semi-bold;
  text-align: center;
  line-height: $icon-size;
  text-transform: uppercase;
}
