#add-room-header {
  margin-bottom: $margin-md;
}

#add-room-form {
  display: flex;
  flex-direction: column;

  & > *:not(:last-child) {
    margin-bottom: $margin-lg;
  }

  .add-room-form-section {
    display: flex;
    flex-direction: column;

    .add-room-form-label {
      font-weight: 600;
      margin-bottom: $margin-sm;
    }
  }
}
