#add-user-form {
  display: flex;
  flex-direction: column;

  & > *:not(:last-child) {
    margin-bottom: $margin-lg;
  }

  .add-user-form-section {
    display: flex;
    flex-direction: column;

    .add-user-form-label {
      font-weight: $font-weight-semi-bold;
      margin-bottom: $margin-sm;
    }
  }
}
