#devices-page {
  display: flex;
  flex-direction: column;
  padding: $padding-lg;
}

.devices-header {
  margin-bottom: $margin-md;
}

.add-device-button {
  .icon {
    margin-right: $margin-sm;
  }

  &.is-active {
    .icon {
      transform: rotate(-45deg);
    }
  }
}

.devices-body {
  display: flex;
  flex-direction: column;

  & > *:not(:last-child) {
    margin-bottom: $margin-md;
  }
}

.device-input {
  display: flex;

  .input {
    flex-grow: 1;
    margin-right: $margin-sm;
  }
}

.devices-item {
  &:not(:last-child) {
    margin-bottom: $margin-md;
  }

  .device-tile {
    align-items: center;
    display: flex;
    justify-content: space-between;

    .device-info {
      align-items: center;
      display: flex;

      .device-title {
        margin-left: $margin-md;
      }
    }
  }
}
