#home-page {
  display: flex;
  flex-direction: column;
  padding: $padding-lg;
}

#home-menu {
  display: grid;
  grid-gap: $size-sm;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
}

#home-header {
  margin-bottom: $margin-md;
}
