#homes-page {
  display: flex;
  flex-direction: column;
  padding: $padding-lg;
}

#homes-header {
  margin-bottom: $margin-md;
}

.home-list {
  .home-item:not(:last-child) {
    margin-bottom: $margin-md;
  }
}
