.invitation-accepted {
  .icon {
    margin-right: $margin-md;
  }
}

.invitation-item {
  .invitation-actions {
    display: flex;

    & > * {
      flex-grow: 1;
    }

    & > :not(:last-child) {
      margin-right: $margin-md;
    }
  }

  .invitation-info {
    margin-bottom: $margin-md;

    .invitation-date {
      font-size: $font-xs;
      color: $font-color-secondary;
    }
  }
}
