#login-container {
  display: flex;
  flex-direction: column;
  margin-top: $margin-xxl;
  padding: $padding-lg;
  width: 100%;

  @include screen-tablet {
    width: 40%;
  }

  @include screen-desktop {
    width: 30%;
  }
}

#login-form {
  display: flex;
  flex-direction: column;

  & > *:not(:last-child) {
    margin-bottom: $margin-lg;
  }

  .login-form-section {
    display: flex;
    flex-direction: column;

    .login-form-label {
      font-weight: 600;
      margin-bottom: $margin-sm;
    }
  }
}

#login-page {
  display: flex;
  justify-content: center;
}

#login-title {
  margin-bottom: $margin-lg;
}
