#login-container {
  display: flex;
  flex-direction: column;
  padding: $padding-lg;
  width: 100%;

  @include screen-tablet {
    width: 40%;
  }

  @include screen-desktop {
    width: 30%;
  }
}

#login-form {
  display: flex;
  flex-direction: column;

  & > *:not(:last-child) {
    margin-bottom: $margin-md;
  }
}

#login-page {
  display: flex;
  justify-content: center;
}

#login-title {
  margin-bottom: $margin-lg;
}
