#change-password-form {
  display: flex;
  flex-direction: column;

  .change-password-form-section {
    display: flex;
    flex-direction: column;
    margin-bottom: $margin-lg;

    .change-password-form-label {
      font-weight: $font-weight-semi-bold;
      margin-bottom: $margin-sm;
    }
  }
}

#delete-user-form {
  display: flex;
  flex-direction: column;

  p {
    margin-bottom: $margin-lg;
  }
}

#lock-user-form {
  display: flex;
  flex-direction: column;

  p {
    margin-bottom: $margin-lg;
  }
}

#user-details {
  margin-bottom: $margin-lg;

  & > :not(:last-child) {
    margin-bottom: $margin-xs;
  }
}

#user-menu {
  display: flex;
  flex-direction: column;

  .user-menu-item:not(:last-child) {
    margin-bottom: $margin-md;
  }
}
