@mixin screen-desktop {
  @media screen and (min-width: $screen-size-desktop) {
    @content;
  }
}

@mixin screen-large {
  @media screen and (min-width: $screen-size-large) {
    @content;
  }
}

@mixin screen-tablet {
  @media screen and (min-width: $screen-size-tablet) {
    @content;
  }
}

@mixin align-start {
  &.align-start {
    align-self: start;
  }
}

@mixin align-end {
  &.align-end {
    align-self: end;
  }
}

@mixin no-scroll {
  &.no-scroll {
    overflow: hidden;
  }
}
