body {
  color: $font-color-primary;
  font-size: $base-font;
  font-family: $font-family;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;

  &:link {
    color: $color-purple;
  }

  &:visited {
    color: $color-purple;
  }

  &.nostyle {
    color: inherit;
    text-decoration: none;
  }
}

button {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

input {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $font-weight-semi-bold;
  margin: 0;
}
