$base-font: 16px;
$font-family: "Titillium Web", "Open Sans", "Helvetica Neue", sans-serif;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;

$size-xxs: 0.125em;
$size-xs: 0.25em;
$size-sm: 0.5em;
$size-of: 0.75em;
$size-md: 1em;
$size-lg: 1.5em;
$size-xl: 2em;
$size-xxl: 3em;

$font-sm: 0.75em;
$font-md: 1em;
$font-lg: 1.25em;
$font-xl: 1.5em;
$font-xxl: 2em;

$margin-xxs: $size-xxs;
$margin-xs: $size-xs;
$margin-sm: $size-sm;
$margin-of: $size-of;
$margin-md: $size-md;
$margin-lg: $size-lg;
$margin-xl: $size-xl;
$margin-xxl: $size-xxl;

$padding-xxs: $size-xxs;
$padding-xs: $size-xs;
$padding-sm: $size-sm;
$padding-of: $size-of;
$padding-md: $size-md;
$padding-lg: $size-lg;
$padding-xl: $size-xl;
$padding-xxl: $size-xxl;

$nav-height: 60px;

$radius: $size-xs;
$radius-round: 50%;

$screen-size-desktop: 1024px;
$screen-size-large: 1366px;
$screen-size-tablet: 768px;

$color-white: white;
$color-white-off: rgba(255, 255, 255, 0.5);

$color-background: #f6fafc;
$color-background-dark: #eef4f7;
$color-background-darker: #d9e5ec;

$color-background-alt: #2c3235;

$font-color-primary: #495a67;
$font-color-secondary: #728797;

$color-transparent: transparent;
$color-danger: #e96073;
$color-danger-dark: #cf5061;
$color-primary: #61dafb;
$color-primary-dark: #55cdee;
$color-pink: #e7b7ea;
$color-purple: #808fde;
$color-success: #88eed1;

$border-color: #a3bacc;
$border-shadow: inset 0 0 0 1px $border-color;
$border-shadow-focus: $border-shadow, 0 0 0 4px #bee1f3;
$box-shadow: 0 1px 2px 0 transparentize($font-color-primary, 0.5);
