$font-family: "Titillium Web", "Open Sans", "Helvetica Neue", sans-serif;

$font-xs: 12px;
$font-sm: 14px;
$font-md: 16px;
$font-lg: 18px;
$font-xl: 21px;
$font-xxl: 24px;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;

$size-xxs: 0.125rem;
$size-xs: 0.25rem;
$size-sm: 0.5rem;
$size-of: 0.75rem;
$size-md: 1rem;
$size-lg: 1.5rem;
$size-xl: 2rem;
$size-xxl: 3rem;

$margin-xxs: $size-xxs;
$margin-xs: $size-xs;
$margin-sm: $size-sm;
$margin-of: $size-of;
$margin-md: $size-md;
$margin-lg: $size-lg;
$margin-xl: $size-xl;
$margin-xxl: $size-xxl;

$padding-xxs: $size-xxs;
$padding-xs: $size-xs;
$padding-sm: $size-sm;
$padding-of: $size-of;
$padding-md: $size-md;
$padding-lg: $size-lg;
$padding-xl: $size-xl;
$padding-xxl: $size-xxl;

$nav-height: 64px;
$border-width: 1px;
$radius: $size-xs;
$radius-round: 50%;

$screen-size-desktop: 1024px;
$screen-size-large: 1366px;
$screen-size-tablet: 768px;

$color__background: #f0f4f8;
$color__border: #cdd7e2;
$color__dark: #283543;
$color__darker: #222e3a;
$color__font: $color__dark;
$color__font-secondary: #4c5b6d;

$shadow__border: 0 0 0 $border-width $color__border;
$shadow__drop: 0 2px 4px transparentize($color__dark, 0.85);

$color-white-off: rgba(255, 255, 255, 0.5);

$color-background: #f6fafc;
$color-background-dark: #eef4f7;
$color-background-darker: #d9e5ec;

$color-background-grey: #9bbcc5;

$color-background-alt-light: #374044;
$color-background-alt: #2c3235;

$font-color-primary: #495a67;
$font-color-secondary: #728797;

$color-transparent: transparent;
$color-danger: #e96073;
$color-danger-dark: #cf5061;
$color-primary: #5fafff;
$color-primary-dark: #55cdee;
$color-pink: #e7b7ea;
$color-purple: #808fde;
$color-success: #1be074;

$border-color: #a3bacc;
$border-shadow: inset 0 0 0 1px $border-color;
$border-shadow-focus: $border-shadow, 0 0 0 4px #bee1f3;
$box-shadow: 0 2px 4px 0 transparentize($font-color-primary, 0.75);
