$base-font: 16px;

$radius: 4px;

$font-size-md: 1em;

$margin-xxs: 0.125em;
$margin-xs: 0.25em;
$margin-sm: 0.5em;
$margin-md: 1em;
$margin-lg: 1.5em;
$margin-xl: 2em;
$margin-xxl: 4em;

$padding-xxs: 0.125em;
$padding-xs: 0.25em;
$padding-sm: 0.5em;
$padding-md: 1em;
$padding-lg: 1.5em;
$padding-xl: 2em;
$padding-xxl: 4em;

$screen-size-desktop: 1400px;
$screen-size-tablet: 800px;

$color-background: #282c34;
$color-background-dark: #20242b;
$color-font: white;
$color-primary: #61dafb;
$color-primary-dark: #55cdee;
